version: "3.9"

services:

  mongo:
    image: mongo:6.0
    container_name: traveljournal_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: travel_journal_db
    volumes:
      - mongo_data:/data/db

  backend:
  build:
    context: ./backend
    dockerfile: Dockerfile
  container_name: traveljournal_backend
  restart: unless-stopped
  ports:
    - "8000:8000"
  depends_on:
    - mongo
  environment:
    - MONGODB_URL=mongodb://root:example@mongo:27017/travel_journal_db?authSource=admin
    - SECRET_KEY=anoor7400anoor74
    - ACCESS_TOKEN_EXPIRE_MINUTES=1440
  volumes:
    - ./backend:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "http://localhost:8000"
    container_name: traveljournal_frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
